.videofeed-div {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 7px;
}

.container-div {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.tb-img {
  width: 100%;
}


.info-div {
  margin-left: 10px;
}

.author-text, .stats-text {
  font-size: 12px;
  color: gray;
}

.author-text {
  margin-top: 17px;
  margin-bottom: 3px;
}